/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* site-wide styling */
body {
  background: #393536;
  background-image: url(/assets/plenty_of_flicks_logo.png);
}

/* navbar styling */
.topnav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

/* flash message styling */
.flash-messages {
  background: #FFEA93;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  opacity: 92%;
  text-align: center;
  margin: 20px;
  border-radius: 40px;
  box-shadow: 1.5px 4px #363631;
}

/* welcome page styling */
.pof-marquee {
  text-align: center;
  margin: 20px;
}

.app-description {
  background: #FFEA93;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  opacity: 92%;
  text-align: center;
  margin: 20px;
  border-radius: 40px;
  box-shadow: 1.5px 4px #363631;
}

/* profile show styling */
.profile-marquee {
  text-align: center;
  margin: 20px;
}

.profile-info {
  background: #FFEA93;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  opacity: 92%;
  text-align: center;
  margin: 20px;
  border-radius: 40px;
  box-shadow: 1.5px 4px #363631;
}

/* profile edit page */
.profile-edit-form {
  background: #FFEA93;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  opacity: 92%;
  text-align: center;
  margin: 20px;
  border-radius: 40px;
  box-shadow: 1.5px 4px #363631;
}

/* discover index page */
.discover-marquee {
  text-align: center;
  margin: 20px;
}

.discover-description {
  background: #FFEA93;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  opacity: 92%;
  text-align: center;
  margin: 20px;
  border-radius: 40px;
  box-shadow: 1.5px 4px #363631;
}

/* discover show page */
.movie-display {
  background: #FFEA93;
  margin: 10px;
  padding: 10px;
  border: 5px solid black;
  /* opacity: 92%; */
  text-align: center;
  margin: 20px;
}
.movie-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.movie-poster {
  margin: 20px;
}

.movie-details {
  border: 3px solid black;
  background: white;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.movie-genres {
  /* border: 3px solid black;
  background: #FFEA93;
  padding: 5px;
  margin: 5px; */
}

.movie-rating {
  /* border: 3px solid black;
  background: #FFEA93;
  padding: 5px;
  margin: 5px; */
}

.movie-description {
  /* border: 3px solid black;
  background: #FFEA93;
  padding: 5px;
  margin: 5px; */
}

.swipe-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

/* admin index page */
.admin-marquee {
  text-align: center;
  margin: 20px;
}

.admin-form {
  background: #FFEA93;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  opacity: 92%;
  text-align: center;
  margin: 20px;
  border-radius: 40px;
  box-shadow: 1.5px 4px #363631;
}

/* friends index page */
.friends-marquee {
  text-align: center;
  margin: 20px;
}

.friendslist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.friends-section {
  background: #FFEA93;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  opacity: 92%;
  text-align: center;
  margin: 20px;
  border-radius: 40px;
  box-shadow: 1.5px 4px #363631;
}

.friend-info {
  background: white;
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
  opacity: 92%;
  text-align: center;
  width: 200px;
}

/* groups index page */
.groups-marquee {
  text-align: center;
  margin: 20px;
}

.groups-section {
  background: #FFEA93;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  opacity: 92%;
  text-align: center;
  margin: 20px;
  border-radius: 40px;
  box-shadow: 1.5px 4px #363631;
}

.groupslist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.group-info {
  background: white;
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
  opacity: 92%;
  text-align: center;
  width: 200px;
}

/* groups new page */
.group-slice {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

/* groups show page */
.matches-section {
  background: #FFEA93;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  opacity: 92%;
  text-align: center;
  margin: 20px;
  border-radius: 40px;
  box-shadow: 1.5px 4px #363631;
}
